@page
@model GeekStore.Pages.Produtos.Jogos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jogos[0].Plataforma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogos[0].PrazoDeGarantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogos[0].CodBarras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogos[0].NomeDoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogos[0].ProdutoCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogos[0].Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogos[0].Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogos[0].Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jogos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoDeGarantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodBarras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
