@page
@model GeekStore.Areas.Admin.Pages.AdminUsers.DeleteModel
@{
}

<h1>Apagar Usuário</h1>

<h3>Você tem certeza que deseja apagar este Usuário?</h3>
<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDelete!.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDelete!.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDelete!.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDelete!.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDelete!.RoleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDelete!.RoleName)
        </dd>
    </dl>

    <form method="post">
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="Index">Voltar</a>
    </form>
</div>