@page
@model GeekStore.Pages.Venda.IndexModel
@{
    Layout = "Shared/_LayoutVazio";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <strong>Tabela de Vendas</strong>
                    <a asp-page="NovaVenda" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Nova Venda</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped table-borderless">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">CPF do Cliente</th>
                                    <th scope="col">Data da Venda</th>
                                    <th scope="col">Forma de Pagamento</th>
                                    <th scope="col">Parcelamento da Venda</th>
                                    <th scope="col">Status da Venda</th>
                                    <th scope="col">Total da Venda</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var venda in Model.Vendas!)
                                {
                                    <a asp-page="NovaVenda">
                                        <tr class="align-middle text-center">
                                            <td>@venda.CpfDoCliente</td>
                                            <td>@venda.DataDaVenda.ToString("dd/MM/yyyy HH:mm")</td>
                                            <td>@venda.TipoPagamento</td>
                                            <td>@venda.StatusPagamento</td>
                                            <td>@venda.StatusVenda</td>
                                            <td>@venda.TotalDaVenda</td>
                                        </tr>
                                    </a>
                                    
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dataTable = new DataTable('table', {
            language: {
                url: '/js/dataTablesTranslate/pt-br.json',
            }
        });
    });
</script>